<style>
.header {
  text-align: center;
  background: #f6f6f6;
}

.button { /* Green */
  border: none;
  color: white;
  width: 100%;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 7px;
  font-size: 16px;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  cursor: pointer;
}

.button {
  background-color: #0761aa;
  color: white; 
  border: 2px solid #0761aa;

}

.button:hover {
  background-color: white;
  color: #0761aa;
  border-bottom: 2px solid #0761aa;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: white;
  border: 2px solid #0761aa;
  box-sizing: border-box;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

input[type=text]:focus {
  border: 2px solid #0761aa;
  background-color: #0761aa;
  color: white;
}

input[type=password]{
  width: 100%;
  padding: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: white;
  border: 2px solid #0761aa;
  box-sizing: border-box;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

input[type=password]:focus {
  border: 2px solid #0761aa;
  background-color: #0761aa;
  color: white;
}

.h1 {
  font-size: 20px;
  font-family: arial;
  color: #0761aa;
}

.leftcolumn {
  float: left;
  width: 33.33%;
  background-color: white;
}

.centercolumn {
  float: left;
  width: 33.34%;
  background-color: white;
}

.rightcolumn {
  float: left;
  width: 33.33%;
  background-color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0761aa;
  color: white;
  text-align: center;
}

.alert-danger {
  font-size: 15px;
  border: 2px;
  border-color: red;
  text-align: center;
  opacity: 0.7;
  border-style: solid;
  background-color: #ff0000;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  margin-top: 10px;
  color: white;
  font-family: arial;
}

.alert-info {
  font-size: 15px;
  border: 2px;
  border-color: red;
  text-align: center;
  opacity: 0.7;
  border-style: solid;
  background-color: #ff0000;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  margin-top: 10px;
  color: white;
  font-family: arial;
}
</style>